<div class="sidebar">
    <div class="sidebar-header">
        <img src="../Images/logo.png" alt="Hotel Nikko Saigon" class="logo">
        <h2>Admin Panel</h2>
    </div>
    <nav class="sidebar-nav">
        <ul>
            <li>
                <a href="#" id="dashboard"><i class="fas fa-home"></i>Tổng quan</a>
            </li>
            <li>
                <a href="#bookings" id="bookings"><i class="fas fa-calendar-alt"></i>Đặt phòng</a>
            </li>
            <li>
                <a href="#" id="room-management"><i class="fas fa-bed"></i>Quản lý phòng</a>
            </li>
            <li>
                <a href="#guests" id="guests"><i class="fas fa-users"></i>Khách hàng</a>
            </li>
            <li>
                <a href="#" id="staff"><i class="fas fa-user"></i>Nhân viên</a>
            </li>
            <li>
                <a href="#services" id="services"><i class="fas fa-concierge-bell"></i>Dịch vụ</a>
            </li>
            <li>
                <a href="#reports" id="reports"><i class="fas fa-chart-line"></i>Báo cáo</a>
            </li>
            <li>
                <a href="#settings" id="settings"><i class="fas fa-cog"></i>Cài đặt</a>
            </li>
        </ul>
    </nav>
</div>